// Custom Theming for Angular Material
@use '@angular/material' as mat;
// For more information: https://material.angular.io/guide/theming
@import '@angular/material/theming';

// Define a custom typography config that overrides the font-family as well as the
// `headlines` and `body-1` levels.
$custom-typography: mat.define-legacy-typography-config(
  $font-family: 'Google Sans, Roboto, "Helvetica Neue", sans-serif',
);

// Colors
$blue: #fac000;
$blue-light: lighten($blue, 24%);
$blue-lighter: lighten($blue, 40%);
$blue-lightest: lighten($blue, 56%);
$blue-dark: darken($blue, 8%);
$blue-darker: darken($blue, 18%);
$green: #0f9d58;
$red: #d7261b;
$red-light: #ea4335;
$orange: #e98000;
$yellow: #fbbc05;
$gray: #80868b;
$gray-light: #a6a6a6;
$gray-lighter: #c6c6c6;
$gray-lightest: #e0e0e0;
$gray-dark: rgb(95, 99, 104);

$bulk-highlight: lighten($yellow, 46%);
$bulk-unset-highlight: lighten($red-light, 46%);
$shipment-label: lighten($yellow, 40%);
$vehicle-label: #c0e9d4;
$visit-request-label: lighten($blue, 25%);

$primary: $blue;
$mute: rgba(0, 0, 0, 0.38);
$dark: rgba(0, 0, 0, 0.54);
$darker: rgba(0, 0, 0, 0.87);

// Color maps to create palettes for the theme
$blue-map: (
  50: lighten($blue, 56%),
  100: lighten($blue, 40%),
  200: lighten($blue, 32%),
  300: lighten($blue, 24%),
  400: lighten($blue, 12%),
  500: $blue,
  600: darken($blue, 6%),
  700: darken($blue, 12%),
  800: darken($blue, 18%),
  900: darken($blue, 24%),
  A100: lighten($blue, 80%),
  A200: lighten($blue, 48%),
  A400: lighten($blue, 28%),
  A700: darken($blue, 8%),
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$dispatcher-app-primary: mat.define-palette($blue-map);
$dispatcher-app-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$dispatcher-app-warn: mat.define-palette(mat.$red-palette);
$warn: map-get(mat.$red-palette, 500);

// Create the theme object (a Sass map containing all of the palettes).
$dispatcher-app-theme: mat.define-light-theme(
  $dispatcher-app-primary,
  $dispatcher-app-accent,
  $dispatcher-app-warn
);

$edit-menu-map-width: 40%;
